<div id="live-chat">

  <header>
    <img class="avatar" src="./assets/img/batman_avatar.svg">
    <h4 id="RespiHeader">Bat-Mate</h4>
  </header>

  <div class="chat">
    <div class="chat-history">
      <div class="chat-message clearfix">

        <img src="./assets/img/batman_avatar.svg" class="avatar">

        <div class="chat-message-content clearfix">

          <h5>Bat-Mate</h5>

          <p class="bat_paragraph"> 👋, I am Bat-Mate and I am here to help you as you learn how to use our device</p>

        </div>
  </div>
</div>
    <form>
    <input #message id="MessengerInput" type="text" placeholder="Type your message…">
    <button id="SubmitData" (click)="writeMessage(message.value)" ><img src="./assets/img/Send-02.png" width="30px" height="30px"></button>
    </form>
</div>
</div>
